/* Master Styles */
html {
  width: 100% !important;
  height: 100% !important;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator */
::-webkit-scrollbar-thumb {
  position: absolute;
  width: 10px;
  background: #333333;
}

body {
  width: 100% !important;
  height: 100% !important;
}
h1 {
  color: #369;
  font-size: 250%;
  font-family: 'Open Sans', sans-serif;
}
h2, h3 {
  color: #f8f8f8;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
input,li,button {
  font-family: 'Open Sans', sans-serif;
}
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}
.btn-normal {
  min-width:128px;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif !important;
}

.btn {
  font-size: 1.1em;
}

.btn-wide {
  min-width: 150px; min-height: 34px;
}

.btn-full {
  width: 100%;
}

.btn-half {
  width: 49%;
}

.btn-third {
  width: 33%;
}

.text-white {
  color: white !important;
}

.offset-top-xs {
  margin-top: 4px;
}

.offset-top-s {
  margin-top: 6px;
}

.offset-top-sm {
  margin-top: 8px;
}

.offset-top-m {
  margin-top: 12px;
}

.header-block {
  margin: 15px; font-size: 2em;
}

.input-default {
  border-radius: 2px; border: 1px solid #dedede; color: #333333; padding: 4px;
}



/** ---------------------------------------------------------- */
/**                     ITEM ENTITY STYLES
/** ---------------------------------------------------------- */

/** --------------------------------- */
/**          ITEM ENTITY
/** ----------------------------------*/
.item-entity {
  min-height: 64px; min-width: 64px;
  max-width: 400px; max-height: 160px;
  width: calc(100%/2);
  display: inline-block; vertical-align: top;
  position: relative;
  padding: 8px;
}

.item-entity-expanded {
  max-width: 100%; width: 100%; max-height: 100%;
}

.item-entity-image {
  display: inline-block; vertical-align: top;
  width: 88px; height: 88px; padding: 4px;
}

.item-entity-image img {
   width: inherit; height: inherit;
 }

.item-entity-info {
  display: inline-block; vertical-align: top;
  max-width: calc(100% - 96px);
  padding: 4px;
  max-height: 96px;
}

.item-entity-info-brand {
  font-weight: bold;
}

.item-entity-info-title {
  font-weight: bold;
  border-bottom: 1px dashed #dedede;
}

.item-entity-info-desc {
  font-size: 0.9em;
  line-height: 1.3em;
  max-height: 3.9em;
  overflow: hidden;
}

.item-entity-buttons {
  margin-top: 10px;
  padding: 4px;
}
/** --------------------------------- */
/**        ITEM VARIATION ENTITY
/** ----------------------------------*/
.item-var-entity {
  min-height: 64px; min-width: 64px;
  max-width: 400px; max-height: 160px;
  width: calc(100%/3);
  display: inline-block; vertical-align: top;
  position: relative;
  padding: 8px;
}

.item-entity-card {
  background-color: #f8f8f8;
  border: 1px solid #dedede;
}

/** ---------------------------------------------------------- */
/**                   WAREHOUSE ENTITY STYLES
/** ---------------------------------------------------------- */
whslocshowitem {
  display: block;
  border-radius: 4px;
}

.highlighted {
  border: 4px solid yellowgreen;
}

.whs-item-entity {
  min-height:64px;
  width:100%;
  display: block;
  min-width: 312px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  max-height: 128px;
}

.whs-iteme-left {
  min-width: 124px; float: left;
}

.whs-iteme-right {
  min-width: 192px; float: right; text-align: right;
}

.whs-iteme-right button {
  height: 64px; width:64px;
}

.whs-iteme-left ul {
  list-style-type: none; padding: 0; display: inline-block; vertical-align: top;
}

.whs-iteme-imgqty {
  width: 72px; height: 96px; display: inline-block;
  margin-left: 4px; vertical-align: top; overflow: hidden;
  text-align: center;
}

.whs-iteme-imgqty img {
  max-width: 64px; max-height: 64px; margin-bottom: 10px;
}

.whs-iteme-imgqty-qty {
  border-radius: 4px; background-color: #333333; color: #f8f8f8;
}

.whs-iteme-extraspan {
  border-radius: 4px; padding: 0 4px 0 4px; margin-right: 2px;
}

/** ---------------------------------------------------------- */
/**                WAREHOUSE LOCATION ENTITY STYLES
/** ---------------------------------------------------------- */
whslocentity {
  display: block;
  padding: 8px;
  background-color: #f8f8f8;
  margin-bottom: 1px;
}
.whs-loc-entity {
  display: block;
  width: 100%;
  min-height: 64px;
}

.whs-loc-entity-l {
  display: inline-block;
  width: 30%;
  float: left;
  text-align: left;
}

.whs-loc-entity-r {
  display: inline-block;
  width: 60%;
  float: right;
  text-align: right;
}



/** ---------------------------------------------------------- */
/**                   WAREHOUSE LOCATIONS STYLES
/** ---------------------------------------------------------- */
.whs-loc {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

.location-view {
  background-color: #dedede;
  background: linear-gradient(to right, #000000 9%,#dedede 9%,#dedede 100%);
  border-radius: 8px;
  display: inline-block;
  padding: 8px;
}

.list-item {
  min-width: 96px;
  width: 100%;
  padding-right: 10px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
