@font-face {
  font-family: 'Open Sans';
  src: url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

app {
  position: relative !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

window {
  position: relative !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

window-float {
  overflow: hidden;
  overflow-y: scroll;
  display: block;
  padding: 4px;
}

menuframe {
  position: relative !important;
  display: inline-block !important;
  min-width: 64px;
  height: 100%;
  width: 250px;
  vertical-align: top;
}

bar {
  position: relative !important;
  width:100% !important;
  height: 64px;
  display: block;
}

.menuframeBgr {
  background: #1e3f49; /* Old browsers */
  background: -moz-linear-gradient(top, #1e3f49 0%, #152630 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e3f49 0%,#152630 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e3f49 0%,#152630 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3f49', endColorstr='#152630',GradientType=0 ); /* IE6-9 */
}

.windowFrame {

  position: relative !important;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: inline-block !important;
  vertical-align: top;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 47%, #f7f7f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 47%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 47%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

}

.menuBarDefault {
  background-color: #152630;
  color: #f8f8f8;
}

.modalFrame {

  position: absolute !important;

  min-width: 32px;
  min-height: 32px;

  width: 50%;
  height: 50%;

  display: block !important;

}

.windowFloat {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 100;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(30,30,30,0.1);
}

.modalSideFrame {

  position: absolute !important;

  min-width: 32px;
  min-height: 32px;

  width: 50%;
  height: 100%;
  right:0;

  background-color: rgba(10,10,10,0.8);

  display: block !important;

}

.hiddenFrame {
  display: none !important;
}

.topFrame {
  display: block !important;
}

.sideFrame {
  position: fixed;
  display: inline-block !important;
}

.menuBar {

}

.bar-fixed {
  position: relative !important;
}

.bar-fixed-float {
  position: fixed !important;
}

.bgDeepBlue {
  background: #93cede; /* Old browsers */
  background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */
}

.bgDarkBlue {
  background: #356aa0; /* Old browsers */
  background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}

.bgTenderSilver {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 47%, #f7f7f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 47%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 47%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.fa {
  font-family: FontAwesome !important;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.wtable {
  list-style-type: none;
  position: relative;
}

.wtable li {
  width:99%;
  display: block;
  vertical-align: top;
  position: relative;
  /*padding: 8px;*/
  background-color: #f8f8f8;
  border-color: #dedede;
  border-radius: 4px;
}

.wtable::before {
  border-left: 1px solid #666666;
  display: inline-block;
  vertical-align: top;
  height:100%;
  margin-left: -1px;
  position: absolute;
  content:"";
}

.wtable li::before {
  border-bottom: 1px solid #666666;
  display: block;
  vertical-align: top;
  height:10px;
  width: 4px;
  /*margin-left: -8px;*/
  position: absolute;
  content:"";
}
